 body{
 	font-size: small;
 }
 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
 
}
th{
	font-size: large;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
section{
	padding-left: 220px;
	color: gray;
	margin-top: -423px;
}
h2{
	color: black;
}
div{
	background-color: #f7f7f7;
	font-size:small;
	color: #a6a7a9;
}